@import '../../common/colors.scss';

.pnf{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    h1{
        color: white;
        text-align: center;
    }
}
