@import "../../common/colors.scss";

.card-item{
    background-color: $secondary-color;
    cursor: pointer;
    transition: all 0.3s;

    &:hover{
        transform: scale(1.1);
        border: 4px solid red;
        transition: all 0.3s;
    }
}
img{
    width: 100%;
    height: 100%;
}

.card-bottom{
    padding: 20px;
}

.card-info{
    color: $font-primary;
    .title{
        font-size: 15px;
        font-weight: 600;
        margin-bottom: 10px;
    }
    .price{
        font-size: 12px;
        font-weight: 400;
        background-color: green;
        display: inline;
        padding: 3px;
        border-radius: 2px;
    }
    .category{
        font-size: 12px;
        font-weight: 400;
    }
}